bin64/cef_cache/
HOME/
packages/*
data/*

!data/wui/
!data/default_sp_monsters.cfg
!data/monsters

!packages/models/
packages/models/*
!packages/models/camera/


*.obj
*.lib
*.pdb

*.user
*.suo

src/vs/.vs
src/vs/Debug64