bin64/cef_cache/
HOME/
packages/*
data/*

!data/wui/
!data/default_sp_monsters.cfg
!data/monsters

!packages/models/
packages/models/*
!packages/models/camera/

*.lib
*.pdb
*.user
*.suo


src/vs/

!src/vs/sauerwui.vcxproj
!src/vs/sauerwui.vcxproj.filters
!src/vs/sauerwui.sln